body {
	margin: 0;
}
.one {
	background-color: skyblue;
	padding-top: 100px;
}
.one .logo {
	background: url(../images/logo.png) no-repeat center;
	height: 186px;
}
.one .text {
	text-align: center;
	margin: 50px 0;
}
.one .info {
	background: url(../images/info_1.png) no-repeat center;
	height: 49px;
}
.two {
	background-color: yellowgreen;
}
.two > div {
	display: flex;
	justify-content: center;
	align-items: center;

}
.two .info {
	background: url(../images/info_2.png) no-repeat center;
	height: 309px;
	width: 635px;
}
.two .shield {
	width: 450px;
}
.three {
	background-color: yellow;

}
.three > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.three .info {
	background: url(../images/info_3.png) no-repeat center;
	width: 635px;
	height: 309px;
}
.three .circle {
	background: url(../images/circle.png) no-repeat center;
	width: 453px;
	height: 449px;
}
.three .rocket {
	background: url(../images/rocket.png) no-repeat center;
	width: 203px;
	height: 204px;
	position: absolute;
	left: 0px;
	bottom: -204px;
	transform: translateY(-455px) translateX(1092px);
}
.four {
	background-color: purple;
}
.four > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.four .info {
	background: url(../images/info_4.png) no-repeat center;
	width: 612px;
	height: 299px;
}
.four .searchBox {
	width: 530px;
	height: 540px;
	align-self: flex-end;
	position: relative;
}
.four .searchBox .search {
	background: url(../images/search.png) no-repeat center;
	width: 529px;
	height: 66px;
}
.four .searchBox .key {
	background: url(../images/key.png) no-repeat center;
	width: 99px;
	height: 22px;
	position: absolute;
	left: 15px;
	top: 20px;
}
.four .searchBox .result {
	background: url(../images/result.png) no-repeat center;
	width: 529px;
	height: 372px;
	position: absolute;
	left: 0px;
	top: 66px;
}
.five {
	background-color: hotpink;
}
.five > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.five .info {
	background: url(../images/info_5.png) no-repeat center;
	width: 1077px; /* 或者100% */
	height: 134px;
}
.five .browser {
	background: url(../images/toolbar.png) no-repeat top,
	url(../images/extra.png) no-repeat right bottom;
	width: 1004px;
	flex: 1;
	position: relative;
}
.five .line {
	position: absolute;
}
.five .top {
	background-color: white;
	width: 100%;
	height: 2px;
}
.five .right {
	background-color: white;
	width: 2px;
	height: 100%;
	right: 0px;
}
.five .bottom {
	background-color: white;
	width: 100%;
	height: 2px;
	bottom: 0px;
}
.five .left {
	background-color: white;
	width: 2px;
	height: 100%;
	left: 0px;
}


/* 便于阅读，动画相关的都放这 */
.one .text img {
	opacity: 0;
	margin: 0 15px;
}
.one.animation .text img {
	opacity: 1;
	margin: 0;
	transition: all 1s;
}